body {
    font-family: 'PT Sans', sans-serif;
}

.info {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 20px;
}

.main-content img {
    margin-top: 20px;
}

.text-content {
    text-align: justify;
}

.main-content .caption {
    font-style: italic;
    color: #999999;
    margin-bottom: 20px;
}