body {
    font-family: 'PT Sans', sans-serif;
}

.info {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 20px;
}

.caption {
    font-style: italic;
    color: #999999;
    margin-bottom: 20px;
}

img {
    margin-top: 20px;
}